.main {
    background-color: white;
    padding: 2rem;
    max-height: 86px;

    h2 {
        font-weight: 600;
        font-size: 20px;
        color: #0F1C35;
        line-height: 22px;
    }

    h5 {
        font-weight: 400;
        font-size: 12px;
        color: #9BA1AE;
        line-height: 12px;
    }
}