.main {
    background-color: #0F1C35;
    min-height: 100vh;
    min-width: 230px;  
    padding: 1rem;
  }

.divider {
    background-color: #F5F6FA;
    height: 0.5px;
    width: 100%;
}

.sidebarFooter {
    
}
