@import url('https://fonts.googleapis.com/css2?family=Manrope');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: 'Manrope', sans-serif;
  background-color: #CCD3E0;
}

